/* for 1344px (small desktops)*/
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
  }
}

/* for 1200px (for landscape tablets)*/
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .heading-secondary {
    font-size: 3.6rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }
  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }
  .header {
    padding: 0 3.2rem;
  }
  .hero {
    gap: 4.8rem;
  }
  .main-nav-list {
    gap: 3.2rem;
  }
  .testimonial-container {
    padding: 9.6rem 3.2rem;
  }
}

/* for 944px (for tablets) */
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }
  .hero-image {
    width: 60%;
  }
  .hero-textbox,
  .hero-imagebox {
    text-align: center;
  }
  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }
  .logos img {
    height: 2.4rem;
  }
  .step-number {
    font-size: 7.4rem;
  }
  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }
  .section-testimonials {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
  .cta {
    grid-template-columns: 3fr 2fr;
  }
  .cta-form {
    grid-template-columns: 1fr;
  }
  .btn--form {
    margin-top: 1.2rem;
  }
  .btn-mobile-nav {
    display: block;
  }
  .main-nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.97);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-in;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .nav-open .main-nav-bar {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0%);
  }
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/* for 700px (for smaller tablets) */
@media (max-width: 44em) {
  .grid--4-cols {
    grid-template-columns: 1fr 1fr;
  }
  .grid--3-cols {
    grid-template-columns: 1fr 1fr;
  }
  .diets {
    grid-column: 1 / -1;
    justify-self: center;
  }
  .heading-secondary {
    font-size: 3.6rem;
    margin-bottom: 4.8rem;
  }
  .pricing-plan {
    width: 100%;
  }
  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }
  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
  .address-col,
  .logo-col {
    grid-column: span 3;
  }
}

/* 544 px (for mobile phone) */
@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }
  .grid--4-cols {
    grid-template-columns: 1fr;
  }
  .grid--3-cols {
    grid-template-columns: 1fr;
  }
  .grid--2-cols {
    grid-template-columns: 1fr;
  }
  .section-hero {
    padding: 2.4rem 0 6.4rem 0;
  }
  .hero {
    padding: 0 3.2rem;
  }
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }
  .hero-image {
    width: 80%;
  }
  .logos img {
    height: 1.2rem;
  }
  .step-img-box:nth-child(2) {
    grid-row: 1;
  }
  .step-img-box:nth-child(6) {
    grid-row: 5;
  }
  .step-img-box {
    transform: translate(0, 2.4rem);
  }
  .testimonials {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }
  .cta {
    grid-template-columns: 1fr;
  }
  .cta-imagebox {
    height: 36rem;
    grid-row: 1;
  }
  .cta-textbox {
    padding: 3.2rem;
  }
}
